body{
	margin: 0;
}

h1, h2, h4{
	font-family: Lato;
	font-weight: 300;
}

h2{
	margin-top: 5%;
}

h4{
	margin-top: 10%;
}

a{
	color: #3da87b;
	text-decoration: none;
}

#header h1{
	position: relative;
	margin: 0 auto;
	top: 30%;
	width: 100%;
	text-align: center;
	font-size: 104px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fefefe;
	font-family: Lato, Helvetica Neue, Arial, sans-serif;
}

#header h2, h4{
	position: relative;
	margin: 0 auto;
	top: 30%;
	width: 100%;
	text-align: center;
	font-size: 50px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fefefe;
	font-family: Lato, Helvetica Neue, Arial, sans-serif;
}

#header h4{
	font-size: 30px;
}

#header{
	height: 500px;
	width: 100%;
	background: #3da87b; /* Old browsers */
	background: -moz-linear-gradient(top,  #3da87b 0%, #3b6a78 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3da87b 0%,#3b6a78 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3da87b 0%,#3b6a78 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3da87b', endColorstr='#3b6a78',GradientType=0 ); /* IE6-9 */
}

.content{
	width: 50%;
	margin: 0 25%;
	margin-top: 5%;
	transition: margin-left 0.5s;
}

#active_SQL{
	margin-left: 15%;
}

.content p{
	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #212121;
}

/*Top bar related styles*/
#top_bar{
	position: fixed;
	top: 0;
	left: 0;
	height: 75px;
	width: 100%;
	z-index: 100;
	background: #3b7478; /* Old browsers */
	background: -moz-linear-gradient(top,  #3b7478 0%, #3b6a78 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3b7478 0%,#3b6a78 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3b7478 0%,#3b6a78 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b7478', endColorstr='#3b6a78',GradientType=0 ); /* IE6-9 */
}

.hide{
	opacity: 0;
}

.hide #sql_button{
	opacity:0;
}

#sql_button{
	margin: 22px;
	margin-right: 20%;
	padding: 5px 15px;
	display: block;
	float: right;
	font-family: Lato, sans-serif;
	font-size: 18px;
	color: #3B6E78;
	background: #fefefe;
	opacity: 1;
	border-radius: 15px;
	cursor: pointer;
	transition: opacity 0.25s;
}

.code_chart_wrapper{
	position: relative;
}


.code_chart_wrapper .code{
	transition: opacity 0.5s;
}
/*SQL column related content*/
.hide .code{
	opacity:0;
}

.code p{
	position: absolute;
	top:0;
	left: 105%;
	min-width: 25%;
	padding: 10px;
	display: inline-block;
	font-family: Inconsolata, Times, monospace;
	background: #DDDDDD;
	border-radius: 15px;
	transition: opacity 0.5s;
}

.code_strong{
	font-weight: 600;
}

.code_highlight{
	padding: 2px 5px;
	font-family: Inconsolata, Times, monospace;
	background: #DDDDDD;
	border-radius: 5px;
}








